<div class="container">
  <h1>Vote Page!</h1>
</div>

<div class="row">
  <div class="col-lg-6" id="left_image">
    <div class="form-group">
    <label for="exampleFormControlFile1">Your first image to compare: </label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  </div>
  <div class="col-lg-6" id="right_image">
    <div class="form-group">
    <label for="exampleFormControlFile1">Your second image to compare:</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  </div>
</div>