<div class="container">
  <h1>Battle Page!!</h1>
</div>

<div class="row">


  <div class="col-lg-6" id="left_image">
    <div class="form-group">
      <label for="exampleFormControlFile1">Your first image to compare: </label>
      <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" required>
    </div>
  </div>


  <div class="col-lg-6" id="right_image">
    <div class="form-group">
      <label for="exampleFormControlFile1">Your second image to compare:</label>
      <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="30" required>
    </div>
  </div>

</div>

{{!-- on submit click

    insert both jpgs into our database as a matched pair
    then choose that pair from the DB to display on the page



 --}}