<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-center">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item btn active">
            <a class="nav-link" href="/vote">
              <h3>Vote</h3> <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item btn">
            <a class="nav-link" href="/logout">
              <h3>Logout</h3>
            </a>
          </li>
      </div>
      </ul>
  </div>

  </div>
  </nav>

  </div>
<div class="container">
  <h1>Battle Page!!</h1>
</div>

<div class="row">

<form id="submit-form">
  <div class="col-lg-6" id="left_image">
    <div class="form-group">
      <label for="exampleFormControlFile1">Your first image to compare: </label>
      <input type="url" name="url" id="url1" placeholder="https://example.com" pattern="https://.*" size="30" required>
    </div>
  </div>


  <div class="col-lg-6" id="right_image">
    <div class="form-group">
      <label for="exampleFormControlFile1">Your second image to compare:</label>
      <input type="url" name="url" id="url2" placeholder="https://example.com" pattern="https://.*" size="30" required>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" id="button">Submit</button>
</form>
</div>

<script src="/js/battle.js"></script>

{{!-- on submit click

    insert both jpgs into our database as a matched pair
    then choose that pair from the DB to display on the page



 --}}