<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <i class="fas fa-gavel"></i> The Mediator Home Page! <i class="fas fa-balance-scale"></i>
        <div class="row main-img">

          <img src="assets/img/main-icon.jpg" class="gavel">

        </div>


        <form class="clearfix mb-4" action="POST">



          <div class="row table">
            <div class="col-lg-6">
              <a href="/vote" class="btn btn-secondary orange-background"> VOTE <i class="fas fa-vote-yea"></i></i></a>

            </div>

            <div class="col-lg-6">
              <a href="/battle" class="btn btn-secondary orange-background"> BATTLE <i class="fas fa-gamepad"></i></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/3750dcfcd2.js"></script>
<script src="/js/vote.js"></script>
<script src="/js/battle.js"></script>