<div class="container">
  <div class="jumbotron mt-4">

    <header>
      <h1>Login using...</h1>
    </header>

    <main>
      <a class="google-btn" href="/auth/google">Google+</a>
    </main>
  </div>
</div>