<div class="container">

  <div class="col-8 offset-2">
    <h2><i class="fas fa-gavel"></i> The Mediator Home Page! <i class="fas fa-balance-scale"></i></h2>
    <div class="row main-img">

      <img src="assets/img/main-icon.jpg" class="gavel">

    </div>
    <div class="row main-img">

      <img src="assets/img/main-icon.jpg" class="gavel">

    </div>
    <div class="row table">
      <div class="col-lg-6">
        <a href="/auth/google" class="btn btn-secondary orange-background"> LOGIN <i class="fab fa-google"></i></a>
      </div>
    </div>

    {{!-- <main>
      <a class="google-btn" href="/auth/google">Google+</a>
    </main> --}}

  </div>