<div class="container">
  

    <div class="row main-img">

      <img src="assets/img/main-icon.jpg" class="gavel">

    </div>
    <div class="row table">
            <div class="col-lg-6">
              <a href="/auth/google" class="btn btn-secondary orange-background"> LOGIN <i class="fab fa-google"></i></a>
            </div>
          </div>

    {{!-- <main>
      <a class="google-btn" href="/auth/google">Google+</a>
    </main> --}}
  
</div>

