<header>
  <h1>Welcome to your profile, {{db.user.username}}></h1>
</header>
<main>
  <p>
    {{!-- We should be pulling information from SQL with all the photos they have been adding and the stats associated. --}}
    <img src={{db.user.thumbnail}}>;
    <p>This is your user thumbnail picture from google.</p>
  </p>
</main>