<main>
  <h1>Welcome to your profile, {{this.username}}></h1>
  <p>
    {{!-- We should be pulling information from SQL with all the photos they have been adding and the stats associated. --}}
    <img src={{this.thumbnail}}>;
    <p>This is your user thumbnail picture from google.</p>
  </p>
</main>