<div class="container">
  <h1>Vote Page!</h1>


  <div class="card-deck">
    <div class="card">
      <img class="card-img-top left-vote" id="leftimage" src="" alt="placeholder image">
      <div class="card-body">
        <a href="#" class="btn btn-secondary orange-background left-vote" id="opt1"> Option 1 </a>
        <p class="card-text" id="leftwins"></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top right-vote" id="rightimage" src="" alt="placeholder image">
      <div class="card-body">
        <a href="#" class="btn btn-secondary orange-background right-vote" id="opt2"> Option 2 </a>
        <p class="card-text" id="rightwins"></p>
      </div>
    </div>

   
      <a id="nextbutton" class="btn btn-secondary orange-background"> Next <i class="fas fa-gamepad"></i></a>
  
  </div>

</div>

<script src="/js/vote.js"></script>
