<div class="container">
  <h1>Vote Page!</h1>
</div>
<div class="row">

  <div class="col-lg-6">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/img/1-otter.jpg" alt="placeholder image">
      <div class="card-body">
        <h5 class="card-title">Choice 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Vote</a>
      </div>
    </div>
  </div>



  <div class="col-lg-6">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/img/1-penguin.jpg" alt="placeholder image">
      <div class="card-body">
        <h5 class="card-title">Choice 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Vote</a>
      </div>
    </div>
  </div>
</div>







{{!-- 
<div class="row">
  <div class="col-lg-6">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/img/1-otter.jpg" alt="placeholder image">
      <div class="card-body">
        <h5 class="card-title">Choice 1</h5>
        <a href="#" class="btn btn-primary">Vote</a>
      </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/img/1-penguin.jpg" alt="placeholder image">
      <div class="card-body">
        <h5 class="card-title">Choice 2</h5>
        <a href="#" class="btn btn-primary">Vote</a>
      </div>
    </div>
    </div>

</div>
{{!-- 
<div class="row">
  <div class="col-lg-6" id="left_image">
    <img src="/assets/img/1-otter.jpg">
  </div>
  <div class="col-lg-6" id="right_image">
    <img src="/assets/img/1-penguin.jpg">
  </div>
</div> --}}

{{!-- left image --}}

{{!-- right image --}}