<div class="container">
  <h1>Vote Page!</h1>
</div>

<div class="row">
  <div class="col-lg-6" id="left_image">
    <img src="ourdatabse">
  </div>
  <div class="col-lg-6" id="right_image">
    <img src="ourdatabase">
  </div>
</div>
{{!-- left image --}}

{{!-- right image --}}