<div class="container">
  <h1>Vote Page!</h1>


  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" id="leftimage" src="" alt="placeholder image">
      <div class="card-body">
        <h5 class="card-title">Choice 1</h5>
<<<<<<< HEAD
        <a href="#" class="btn btn-secondary orange-background"> Option 1 </a>
        <p class="card-text" id="leftwins"></p>
      </div>
    </div>
=======
        <p class="card-text" id="leftwins"></p>
      </div>
    </div>

>>>>>>> efb787c88b5fdb738e35830f55331243a7255f3e
    <div class="card">
      <img class="card-img-top" id="rightimage" src="" alt="placeholder image">
      <div class="card-body">
        <h5 class="card-title">Choice 2</h5>
<<<<<<< HEAD
        <a href="#" class="btn btn-secondary orange-background"> Option 2 </a>
        <p class="card-text" id="rightwins"></p>
      </div>
=======
        <p class="card-text" id="rightwins"></p>
      </div>
    </div>

    <div class="col-lg-6">
      <a id="nextbutton" class="btn btn-secondary orange-background"> Next <i class="fas fa-gamepad"></i></a>
>>>>>>> efb787c88b5fdb738e35830f55331243a7255f3e
    </div>

  </div>
<<<<<<< HEAD
=======


>>>>>>> efb787c88b5fdb738e35830f55331243a7255f3e

</div>

<script src="/js/vote.js"></script>