<div class="container">
  <h1>Vote Page!</h1>


  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" id="leftimage" src="" alt="placeholder image">
      <div class="card-body">
        <h5 class="card-title">Choice 1</h5>
        <p class="card-text" id="leftwins"></p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" id="rightimage" src="" alt="placeholder image">
      <div class="card-body">
        <h5 class="card-title">Choice 2</h5>
        <p class="card-text" id="rightwins"></p>
      </div>
    </div>

   
      <a id="nextbutton" class="btn btn-secondary orange-background"> Next <i class="fas fa-gamepad"></i></a>
    

  </div>



</div>

<script src="/js/vote.js"></script>