<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/battle"><h3>Battle</h3> <span class="sr-only">(current)</span></a>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link" href="/login"><h3>Login</h3></a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" href="/logout"><h3>Logout</h3></a>
        </li>
    </div>
    </ul>
    </div>

    </div>
  </nav>
<div class="container">
  <h1>Vote Page!</h1>


  <div class="card-deck">
    <div class="card">
      <img class="card-img-top left-vote" id="leftimage" src="" alt="placeholder image">
      <div class="card-body">
        <button class="btn btn-secondary orange-background left-vote" id="opt1"> Option 1 </button>
        <p class="card-text" id="leftwins"></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top right-vote" id="rightimage" src="" alt="placeholder image">
      <div class="card-body">
        <button class="btn btn-secondary orange-background right-vote" id="opt2"> Option 2 </button>
        <p class="card-text" id="rightwins"></p>
      </div>
    </div>

   
      <a id="nextbutton" class="btn btn-secondary orange-background"> Next <i class="fas fa-gamepad"></i></a>
  
  </div>

</div>

<script src="/js/vote.js"></script>
