
/* 
colors:
"Lavender is a color that releases the most serotonin in the brain, therefore assists people who suffer from depression. It has relaxing properties"

lavender: #E6E6FA
#9E9EFF
#EBEBFF
#4F4F80
#BCBCCC
*/
/* .navbar{
  width: 100%;
} */
.gavel{
height:350px;
width: auto;
margin-bottom: 20px;
margin-top: 20px;
border-radius: 50%;

}
.main-img{
justify-content: center;
}
body{
  height: 100%;
  background-color: #EBEBFF;
  font-family: 'Lato', sans-serif;
  color: #4f4f80;

}
img{
  vertical-align: middle;
  block-size: 50%;
}
h1, h2, h3, h5{
  text-align: center;
  
  font-family: 'Lato', sans-serif;
}

.icon{
  text-align: center;
}
nav {
  /* margin-right: 20%;
  margin-left: 20%; */
  margin-bottom: 20px;
  justify-content: center;
  align-content: center;


}
#leftimage, #rightimage{
  max-width: 400px;
  max-height: 400px;
}

.list-group-item {
  line-height: 2.5;
}

.table{
  /* border: 5px solid #4F4F80; */
  border-radius: 14px;
  margin: 15px;
  justify-content: center;

}
.btn{
  background-color: #4f4f80;
  font-family: 'Lato', sans-serif;
  font-size: large;
    color: #EBEBFF;
    width: 100%;
    margin: 5px;

}

/* inverse colors on hover */
.btn:hover {
  color: #BCBCCC;
  border-color: currentColor;
  background-color: white;
}

/* make sure we have a visible focus ring */
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px #4f4f80,
    0 0 0 1.5px #BCBCCC;
}

.card-img-top{
  margin-left: 24px;
  margin-top: 20px;
  border-radius: 19px;
}
.card {  
  max-width: 800px;
  align-content: center;
  box-shadow: 10px 10px 5px grey;
}

.row, .card-body{
  justify-content: center;
}


