body{
  height: 100%;

  background-color: #EBEBFF;
  font-family: 'Special Elite', cursive;
  color: #4f4f80;

}
h2, h3{
  text-align: center;
}
nav {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 20px;
  justify-content: center;
  align-content: center;

}

.list-group-item {
  line-height: 2.5;
}

.table{
  /* border: 5px solid #4F4F80; */
  border-radius: 14px;
  margin: 15px;

}
.btn{
  background-color: #4f4f80;
    font-family: 'Special Elite', cursive;
    font-size: large;
    color: #EBEBFF;
    width: 100%;
    margin: 5px;

};

/* 
colors:
"Lavender is a color that releases the most serotonin in the brain, therefore assists people who suffer from depression. It has relaxing properties"

lavender: #E6E6FA
#9E9EFF
#EBEBFF
#4F4F80
#BCBCCC
*/