.list-group-item {
  line-height: 2.5;
}


/* 
colors:
"Lavender is a color that releases the most serotonin in the brain, therefore assists people who suffer from depression. It has relaxing properties"

lavender: #E6E6FA
#9E9EFF
#EBEBFF
#4F4F80
#BCBCCC
*/